<main class="main">
  <h1>Atualizar Salário</h1>

  <mat-form-field>
    <mat-label>Valor</mat-label>
    <span matTextPrefix>R$ &nbsp;</span>
    <input matInput type="number" [(ngModel)]="salary" />
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>Pessoa</mat-label>
    <mat-select [(ngModel)]="person">
      <mat-option [value]="0">Letícia</mat-option>
      <mat-option [value]="1">Bruno</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="onClickAtualizar()">Atualizar</button>
</main>
